body {
  padding: 10px;
}

header {
  margin: auto;
  text-align: center;
}

h1 {
  margin: auto;
  text-align: center;
}

h5 {
  margin: auto;
  text-align: center;
}

span {
  padding: 30px;
}

hr {
  border: 0.5px solid #26a69a;
  bottom: solid;
  background: fixed;
  float: #7150c1;
  margin: rgb(0, 0, 255);
}

ul li {
  box-shadow: 1px 1px 1px #26a69a;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}

.searchNames {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid #26a69a;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #26a69a;
  min-width: 98.5%;
}

.searchNames button {
  border-radius: 15px;
}

#inputText {
  min-width: 75%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

.container-divs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  border: 1px solid #26a69a;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #26a69a;
}

.user-container {
  margin: 10px;
  border: 1px solid #26a69a;
  border-radius: 10px;
  width: 45%;
}

.user {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #26a69a;
  padding: 5px;
}

.user-list {
  padding: 10px;
}

.statistic-container {
  margin: 10px;
  font-size: 1.1rem;
  border: 1px solid #26a69a;
  border-radius: 10px;
  width: 40%;
  padding: 8px;
  height: 28%;
}

.statistic {
  margin: 5px;
  padding: 5px;
}

.statistic-list {
  margin-left: 5px;
}

img {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 1.2px solid #26a69a;
  box-shadow: 1.2px 1px 1px #26a69a;
  border-radius: 50px;
  vertical-align: middle;
}

footer {
  text-align: center;
}
